<div class="text-center">
<br>
<h1><b>Bienvenue sur The Gossip Project !</b></h1>
<br>
<h2> Voici la liste des potins : </h2>
<br>
</div>
<div class="card-container">
  <style>
    .avatar-image {
      border-radius: 50%;
    }
  </style>
  <% @gossip.reverse_each do |gossip| %>
    <div class="card">
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <% avatar_id = gossip.user.id %>
            <% avatar_url = "https://i.pravatar.cc/150?u=#{avatar_id}" %>
            <img src="<%= avatar_url %>" class="avatar-image" height="65" width="65" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <h2><%= gossip.title %></h2>
          <p>par : <%= link_to gossip.user.first_name, user_path(gossip.user), class: 'highlight' %><br>
             de : <%= link_to gossip.user.city.name, city_path(gossip.user.city), class: 'highlight'%></p>
          <p><%= link_to 'Voir détails', gossip_path(gossip) %></p>
                        <%if already_exist?(gossip)%>
                          <%= link_to "♥", gossip_gossip_like_path(gossip_id: gossip.id, id: current_user.id), data: { turbo_method: :delete } %>
                            <%else%>
                          <%= link_to "♡", gossip_gossip_likes_url(gossip.id), data: { turbo_method: :post } %>
                        <%end%>
                        <%= gossip.gossip_likes.count %>
        </div>
      </div>
    </div>
  <% end %>
</div>
