<center>
<br>
    <%= form_tag('/gossips', method: :post) do %>

      <%= label_tag 'Titre du potin' %></br>
        <div><%= text_field_tag 'title' %>
      <br/> <br/>

      <%= label_tag 'à toi de jouer !' %></br>
        </div><%= text_area_tag 'content' %></div>
      <br/> <br/>

      <%= submit_tag "Ajouter un nouveau potin", :class=>"btn btn-dark", data: {turbo:false} %>

      <% end %>

    </center>